name: test
on: [push, pull_request]
env:
  CI: true
jobs:
  test:
    name: "Test on Node.js ${{ matrix.node_version }} OS: ${{matrix.os}}"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node_version: [12]
    steps:
      - name: checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: setup Node ${{ matrix.node_version }}
        uses: actions/setup-node@v4
        with:
          node_version: ${{ matrix.node_version }}
      - name: Install
        run: yarn install
